<div class="container-fluid" id="portfolio">
    <h2 class="portofolio-title pt-5 text-center">My Work</h2>
    <div class="container portofolio-list mt-5">
        <div class="row g-4 justify-content-center pb-5">
            <!-- Currency Converter -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="assets/images/work1.jpeg" alt="Currency Converter" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>Currency Converter</h3>
                        <p>A real-time web app that uses a live API for seamless currency conversions. Built with HTML, CSS, and JavaScript, it features a responsive design, ensuring smooth and accurate conversions across all devices. 🚀</p>
                        <a href="https://danghaly.github.io/Currency-Converter/" target="_blank" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <!-- Fashion Portfolio Website -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="assets/images/work2.jpeg" alt="Fashion Portfolio Website"
                        class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>Fashion Portfolio Website</h3>
                        <p>Step into the world of style! This vibrant, responsive portfolio showcases bold designs,
                            stunning collections, and creative flair. Crafted with HTML, CSS, and JavaScript, it’s a
                            visual treat that turns heads and sparks inspiration.</p>
                        <a href="https://danghaly.github.io/Famms/" target="_blank" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <!-- Dan Interior -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="assets/images/work3.jpeg" alt="BOB's Bar" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>Dan Interior</h3>
                        <p>
                            Discover Dan Interior.a sleek, modern single-page application built with HTML, Bootstrap,
                            CSS, and Angular. Experience an immersive digital journey through elegant designs and
                            innovative space solutions tailored for contemporary living.
                        </p>
                        <a href="https://danghaly.github.io/Dan-Interior/" target="_blank" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <!-- BOB's Bar -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="assets/images/work4.png" alt="BOB's Bar" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>BOB's Bar</h3>
                        <p>Craft cocktails, live music, and unforgettable vibes—coming soon! <span
                                class="fw-bold text-danger">The website is under construction,</span> but the party
                            isn’t. Stay tuned for updates and get ready to experience Cairo’s hottest nightlife
                            destination!</p>
                        <a href="#" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>